/*TODOS LOS ESTILOS UTILIZADOS*/


/*RESET*/
*{
    margin: 0;
    padding: 0;
    
}



/*color de fondo para el body, es discutible por el momento */
body{
    background: rgb(204, 196, 196);
    height: 100vh;
}


/*color de fuente para la tipografía */




/*Parrafo de "Nosotros"*/
p{
    color:rgb(250, 249, 254);
    font-family: 'Zen Antique Soft', serif;
}

/*  ----------------------------------------------------------------------------------------------------------------------------*/
/*la parte de CONTACTO*/

/*color letra parrafos*/
.descripcion{
    color:rgb(250, 249, 254);
}

div{
    color:rgb(250, 249, 254);
}




/*bordes para el formulario*/
.bordes {
    border: solid 2px #ffffff; ; /* estilo - grosor - color*/
    border-radius: 1px;
}

/*  -------------------------------------------------------------------------------------------------------------------*/



/*Tipografía  GENERAL*/

.titulo{
    color: rgb(250, 249, 254);
}

/*Estilo de letra*/
.negrita{
    font-weight: bold;
}

/*alineado*/
.derechaPantalla{
    text-align: right;
}

.tipoLetra{
    font-family: 'Jaldi', sans-serif;
}

.color{
    color:rgb(13, 1, 32)
}

.centrar{
    text-align: center;
}

/*foto de fondo*/
.fondoImagen {
    width: 100%;
    height: 1200px;
 /* Propiedades Fondo */
    background-image: url("img/foto.jpeg");
    background-repeat: no-repeat;
    background-position:center center;
    background-size: 100% 100%;
}
/*  ---------------------------------------------------------------------------------------------------------------------------------   */

/*NUESTROS POSTULANTES*/

body{
    height: 100vh; /*Altura de mi página*/
}


/* Nombrar las areas */
/*header {
    grid-area: cabeza;
    background-color: rgb(221, 6, 6);
    text-align: center;
    font-weight: bold;
    color:aliceblue;
}*/
#postulantes {
    grid-area: postulantes;
}
/*#tabla {
    grid-area: tabla;
    background-color: rgb(221, 6, 6);*/
nav {
    grid-area: menu;
    
}
aside {
    grid-area: desplegable;
    background-color: #ffffff;
    
}
footer {
    grid-area: pie;
    
}


/*FORMA DE MIS ÁREAS EN GRIDS*/
.gridAreas {
    display: grid;
    grid-template-areas: 
    /* Distribuyo como me quedaría las áreas */
    
    "menu menu menu menu"
    "desplegable postulantes postulantes postulante"
    "desplegable postulantes postulantes postulantes"
    "desplegable postulantes postulantes postulantes"
    "desplegable postulantes postulantes postulantes"
    "pie pie pie pie";

    grid-template-columns: 20% 20% 40% 40%;
    grid-template-rows: 50px 50px 2fr 2fr 2fr 80px ;
    /*grid-row-gap: 1px;
    grid-column-gap: 1px;*/
}
/*BORDES*/

.border{
    border: solid 1px white;
}

.estilo{
    text-decoration: none;
    list-style-type: none;
}

/*FONDOS*/
.fondoB{
    background-color:rgb(131, 131, 131)
}

.fondoMD{
    background-color:rgb(129, 0, 60)
}


  


/*                                  FLEXBOX                  */



.articleFlex {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items:flex-end;
    align-content: space-between;
}


.articleFlex img {
    margin: 5px;
    border-radius: 10px;
}

/*   ----------------------------------------------------------------------------------------*/
/*Animaciones*/
.skew {
    transform: skew(20deg,10deg);
}
/*Animación título*/

h1 {
    animation-duration: 5s;
    animation-name: aparecer;
 }
 
 
 @keyframes aparecer {
    from {
      opacity: 0;
      transform: translate(-500px);
    }
    to {
      opacity: 1;
    }
 }


 /*   -----------------------------------------------------------------------------------------------------------------  */

/* MEDIA QUERY*/


/*celular*/
@media (max-width: 599px){
    .fondo{
    background-color: rgb(13, 1, 32);
    }
    body {
        font-size: 1rem;
    }
    .gridAreas {
        display: grid;
        grid-template-areas: 
        /* Distribuyo como me quedaría las áreas */
        
        "menu menu menu menu"
        "desplegable postulantes postulantes postulantes"
        "desplegable postulantes postulantes postulantes"
        "desplegable postulantes postulantes postulantes"
        "desplegable postulantes postulantes postulantes"
        "pie pie pie pie";
    
        grid-template-columns: 32% 32% 2fr 2fr;
        grid-template-rows: 50px 50px 2fr 2fr 2fr 70px ;
        /*grid-row-gap: 2px;
        grid-column-gap: 2px;*/
    }
   
       
}

/*Tablet*/
@media (min-width: 600px) and (max-width: 992px){
    .fondo{
        background-color: rgb(13, 1, 32);
    }  
   
    body {
        font-size: 1rem;
    }
    .gridAreas {
        display: grid;
        grid-template-areas: 
        /* Distribuyo como me quedaría las áreas */
        
        "menu menu menu menu"
        "desplegable postulantes postulantes postulantes"
        "desplegable postulantes postulantes postulantes"
        "desplegable postulantes postulantes postulantes"
        "desplegable postulantes postulantes postulantes"
        "pie pie pie pie";
    
        grid-template-columns: 22% 22% 2fr 2fr;
        grid-template-rows: 50px 50px 2fr 2fr 2fr 70px ;
        /*grid-row-gap: 2px;
        grid-column-gap: 2px;*/
    }
    
}




/*Computadora*/
@media (min-width: 993px){
    .fondo{
        background-color: rgb(13, 1, 32);
    }  
    body {
        font-size: 1rem;
    }
    .gridAreas {
        display: grid;
        grid-template-areas: 
        /* Distribuyo como me quedaría las áreas */
        
        "menu menu menu menu"
        "desplegable postulantes postulantes postulantes"
        "desplegable postulantes postulantes postulantes"
        "desplegable postulantes postulantes postulantes"
        "desplegable postulantes postulantes postulantes"
        "pie pie pie pie";
    
        grid-template-columns: 16% 16% 2fr 2fr;
        grid-template-rows: 55px 55px 2fr 2fr 2fr 60px ;
        /*grid-row-gap: 2px;
        grid-column-gap: 2px;*/
    }
  
   
}